.experiance-main {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 70px;
  color: white;
  background: url("../public/images/4.jpg") fixed 100%;
}

.experiance-sec {
  flex: 2;
  margin: 10px;
}

.experiance-sec-item {
  margin: 20px 0;
  padding: 20px;
  color: black;
  border-bottom: 6px solid rgb(173, 22, 173);
  border-radius: 6px;
  background: rgba(255, 255, 255);
}

.experiance-item-date {
  width: fit-content;
  margin: 5px 0;
  padding: 5px 10px;
  color: rgb(173, 22, 173);
  border: 2px solid rgb(173, 22, 173);
}

/* @media screen and (max-width: ) and (min-width: ) */
@media screen and (max-width: 768px) {
  .experiance-main {
    padding: 30px 20px;
  }
}
