.none {
    display: none;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

/* Font-weight */
.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

/* OverFlow */
.overflow-hidden {
    overflow: hidden;
}

/* Outline */
.outline-none {
    outline: none;
}

/* position */
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

/* text-align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* cursor */
.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

/* flexbox */
.flex {
    display: flex;
}

.flex-50 {
    flex: 49%;
}

.flex-25 {
    flex: 25%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-r {
    flex-wrap: wrap-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

/* justify content */
.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

/* align items */
.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

/* Overflow */
.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

/* color */
.gray-font {
    color: rgba(255, 255, 255, );
}

.purple-font {
    color: rgb(173, 22, 173);
}

.white-font {
    color: white;
}

/* Background Color */
.bg-white {
    background-color: #fff;
}

/* Font */
.h1-font {
    font-size: 28px;
    font-weight: 700;
}

.h2-font {
    font-size: 18px;
    font-weight: 500;
}

.h3-bold-font {
    font-size: 15px;
    font-weight: 500;
}

.h3-font {
    font-size: 15px;
    font-weight: 400;
}